{% extends "learning_logs/base.html" %}
{% block content %}
    <h2>Edit Entry: <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></h2>
    <form action="{% url 'learning_logs:edit_entry' entry.id %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
    {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}
